<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Global Settings</string>
			<key>footerText</key>
			<string>These settings automatically apply to every app and springboard unless you specifically enable something in a app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ioscreatix.littlex</string>
			<key>key</key>
			<string>statusBar</string>
			<key>label</key>
			<string>Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ioscreatix.littlex</string>
			<key>key</key>
			<string>homeBar</string>
			<key>label</key>
			<string>Home Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ioscreatix.littlex</string>
			<key>key</key>
			<string>keyboardDock</string>
			<key>label</key>
			<string>Larger Keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ioscreatix.littlex</string>
			<key>key</key>
			<string>iPadDock</string>
			<key>label</key>
			<string>iPad Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ioscreatix.littlex</string>
			<key>key</key>
			<string>reduceRows</string>
			<key>label</key>
			<string>Reduce Icon Rows by 1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ioscreatix.littlex</string>
			<key>key</key>
			<string>switcherKillStyle</string>
			<key>label</key>
			<string>App Kill Style</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Hold to Kill</string>
				<string>Swipe Up to Kill</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>LittleX</string>
</dict>
</plist>
